body {
  margin: 0;
}
.header_outer_container {
  position: sticky;
  margin: 0;
  top: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  display: flex;
  width: 100%;
  flex: 1;
  /* width: 60%; */
  padding: 0 6px;
  gap: 40px;
}
.header_left ul {
  width: 140%;
  display: flex;
  flex: 1;

  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.link {
  position: relative;
  transition: color 0.5s;
  width: auto;
}
.link:hover {
  color: red;
}

.header_right ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  color: rgb(97, 247, 97);
}
